.particles-container {
  position: relative;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.particles-container canvas {
  display: block;
  width: 100% !important;
  height: 100% !important;
}